<nav>
<a class = "link_button" href = "/">Home</a>
<a class = "link_button" href = "/users/<%=current_user.id%>"><%=current_user.username%>'s Main Page</a>
<% if current_user == @user %>
	<a class = "link_button" href = "/users/<%=current_user.id%>/edit">Edit Profile</a>
<% end %>
<a class = "link_button" href = "/logout">Log Out</a>
</nav>

<h2> Edit Your Profile</h2>
<p id = "error_message"><%= @message %></p>
<form method = "post" action = "/users/<%=current_user.id%>">
<p>Username: <input type = "text" name = "user[username]" value ="<%=current_user.username%>"></p>

<p>Email : <input type = "text" name = "user[email]"  value ="<%=current_user.email%>"></p>

<p>Password: <input type = "text" name = "user[password]"  value ="<%=current_user.password%>"></p>

<input type ="hidden" name = "_method" value ="patch">
<input type = "submit" value = "Edit">
</form>
